#mapcontainer {
	font: 0.8em Verdana, Arial, Helvetica, sans-serif !important;
	height: 700px;
	margin: 0;
	overflow: hidden;
	position: relative;
	padding: 0;
	width: 753px;
}
#map {
	height: 96%;
	width: 100%;
}
#mapmenubuttons {
	float: left;
	height: 100%;
	width: 68%;
}
#mapmenutools {
	background: none repeat scroll 0 0 #000000;
}
#mapmenuselection {

}
#preloaderbackground {

}
#preloader {
	background-image: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/loading.gif");
	display: none;
	height: 64px;
	left: 336px;
	position: absolute;
	top: 296px;
	width: 64px;
	z-index: 999;
}
.disabledLayer {
	background-image: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/iconsDisabled.png");
	width: 16px;
	height: 16px;
}
.layersmenu {
	font-size: 1.15em;
}
#map_zoom_slider {
	background-image: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/background2.png");
	height: 200px !important;
	left: 5px !important;
	padding: 5px;
	position: absolute !important;
	top: 40px !important;
	z-index: 30 !important;
}
#mapmenucontainer {
	
    height: 35px;
	width: 100%;
    background: #E3BB93;
}
#layerselection {

}
#layerselection1 {
}
#layerselection2 {
	position: relative;
}
#coordinateswindow, #scalemap {

	height: auto;
	position: relative;
	width: auto;
	z-index: 1;
}
#scalemap {
	float: right;
	font-weight: bold;
	margin-right: 10px;
}
#mapinfo {
	float: right;
	width: 240px;
}
#crd {
	float: left;
	margin-right: 5px;
}
.esriScalebar {
	background: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/background2.png") repeat scroll 0 0 transparent;
	padding: 10px 25px;
}
/* slider*/

.dijitRuleContainer {
	display: none;
}
.dijitRuleLabelV {
	background: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/background2.png") repeat scroll 0 0 transparent;
	font-weight: bold;
	margin: 0 5px;
}
.esriScalebarLabel {
	color: #000000 !important;
}
#menumaplower, .result {
	float: left
}
.hidden {
	display: none;
}
/**
 * css dla menu
 */
.menu {
	background: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/cbdg_ico.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 31px;
	left: 2px;
	list-style-type: none;
	margin:  2px 1px 0px 0px;
	padding: 0;
	position: relative;
	width: 32px;
}
.menu:hover {
	   background-color: #FFFFFF !important;
  
}
.menu_active {
   background-color: #FFFFFF !important;
   	-moz-box-shadow: inset 1px 1px 1px 1px #c6963d;
	-webkit-box-shadow: inset 1px 1px 1px 1px #c6963d;
	 box-shadow: inset 1px 1px 1px 1px #c6963d;
}
.clicked {
	border: 1px inset;
	background-color: #E7C37C;
}
.small {
   	background: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/menusmall.png") no-repeat scroll 0 0 transparent;
	height: 16px;
	margin: 1px 0px;
	width: 16px;
}
.small:hover {
	background-color: #fff;
	-moz-box-shadow: inset 1px 1px 1px 1px #c6963d;
	-webkit-box-shadow: inset 1px 1px 1px 1px #c6963d;
	 box-shadow: inset 1px 1px 1px 1px #c6963d;
}
.mapmenu {
	height: 95px !important;
}
#menu_zoomin {
	background-position: 2px 0px;
		margin-right: 2px;
}
#menu_zoomout {
	background-position: -32px 0px;
		margin-right: 2px;
}
#menu_pan {
	background-position: -100px 0px;
		margin-right: 2px;
}
#menu_extent {
	background-position: -66px 0px;
		margin-right: 2px;
}
#menu_measure {
	background-position: -236px 0px;
		margin-right: 2px;
}
#menu_print {
	background-position: -305px 0px;
		margin-right: 2px;
}
#menu_print100 {
	background-position: -135px 0px;
}
#menu_identify {
	background-position: -134px 0px;
		margin-right: 2px;
}
#menu_layers {
	background-position: -407px 0px;
	margin-left: 0;
	margin-right: 2px;
}
#menu_menu {
	background-position: -228px -1px;
}
#menu_layerselect {
	background-position: -251px 0;
}
#menu_clearalllayers {
	background-position: -475px 0;
}
#menu_selectrectangle {
	background-position: -712px 0;
		margin-right: 2px;
}
#menu_clearselection {
	background-position: -744px 1px;
		margin-right: 2px;
}
#menu_selectlayer {
	background-position: -337px 0;
	margin-top: -4px;
		margin-right: 2px;
}
#menu_show4extent {
	background-position: -169px 0px;
		margin-right: 2px;
}
#selectablelayers {
	float: left
}
#clearmeasure {
    background-position: -18px 0;
    float: right;
    margin: 5px;
}
#clearselection {
	background-position: -359px 0;
	margin-left: 3px;
	margin-top: -4px;
}
#globalview {

	font-size: small
}
#globalview thead {
	border-bottom: 0px;
}
#detailedview {
	float: left;
	font-size: small
}
/*INFOTEMPLATE (i)*/
#globalviewtable {
	margin: auto;
}
#globalviewtable .center {
	margin-left: auto;
	margin-right: auto;
}
#globalviewtable thead tr {
	background: none repeat scroll 0 0 #E3BB93;
}
#globalviewtable tr:hover {
	cursor: pointer;
	background: none repeat scroll 0 0 #F9D3AC;
}
#globalviewtable td:first-child {
	text-align: left;
	width:35%;
}
/*INFOTEMPATE END*/
#infowindowbackbutton {
	background: url("/web/20190413122301im_/http://jaskiniepolski.pgi.gov.pl/Content/img/menu.png") no-repeat scroll -384px -8px transparent;
	border: 1px outset;
	display: none;
	float: right;
	height: 16px;
	right: 0;
	width: 16px;
}
#infowindowbackbutton:hover {
	border: 1px inset;
	cursor: pointer;
}
#detailedTable  td:first-child
{
   width:100px; 
}
/*
     FILE ARCHIVED ON 12:23:01 Apr 13, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:13:27 Nov 07, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.07
  exclusion.robots: 0.049
  exclusion.robots.policy: 0.026
  esindex: 0.028
  cdx.remote: 7.066
  LoadShardBlock: 61.625 (3)
  PetaboxLoader3.datanode: 107.76 (5)
  load_resource: 550.449 (2)
  PetaboxLoader3.resolve: 452.884 (2)
*/