/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body
{
    width: 994px;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    border: 0.1em solid #D4D0C8;
    color: Black;
    height: 100%;
    background-color:White;
}
img
{
    border: none;
}
div#headerCBDG, div#header2
{
    height:40px;
	font-family: Arial, sans-serif;	
	padding:0.15em 0 0 0.5em;
    border-bottom: 0.05em solid #C00;
}
div#headerCBDG {
    background: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/top_bg_subsystem_1.jpg') no-repeat;
}
/*div#header1
{
    background: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/top_bg_subsystem_1.jpg') no-repeat;
}*/
div#header2
{
    background: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/title_dokumenty_bg2.jpg') no-repeat;
}

div#header a:link
{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    color: #C07A34;
    margin: 0.1em 0.8em 0.5em 0;
}

#headerCBDG h1 {
	font-size:1.3em;
	font-weight:600;
	margin: 0;
	color: #000;
	text-align:left;
    line-height:23px;
}
#headerCBDG h1.min {
	font-size:1.2em;
    width: auto;
	color: #000;
	line-height:11px;
	letter-spacing: 1.5px;
}
#headerCBDG h2 {
	color: #FF4100;
	font-style: italic;
	font-weight: bold;
	font-size: 2.3em;
	margin: -0.5em 0 0 15em;
    width: auto;
    text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align:left;
	line-height: 0;
	letter-spacing: 0.05em;
}
#headerCBDG a:link,
#headerCBDG a:hover,
#headerCBDG a:visited { color: #000; text-decoration:none }
#headerCBDG h2 a:link, 
#headerCBDG h2 a:hover,
#headerCBDG h2 a:visited { color: #FF4100; text-decoration:none }

/*#header1 h1, #header2 h1
{
    text-decoration: none;
    margin: 0.25em 0 0 0.5em;
    font-size: 1.3em;
    height: 1em;
    float: left;
}
#header1 h2, #header2 h2
{
    text-decoration: none;
    margin: 0.3em 0 0 9em;
    font-size: 1.6em;
    height: 1em;
}
#header1 h2
{
    float: left;
}
#header2 h2
{
    float: right;
}*/

div#transparent
{
    font-size: 1em;
    background-color: #E3BB93;
    width: 100%;
    height: 2em;
    padding: 0;
    margin: 0;
}
div#transparent a
{
    text-decoration: none;
}
div#transparent a:link
{
    color: #422;
}
div#transparent a:hover
{
    color: #422;
    text-decoration: underline;
}
div#transparent a:visited
{
    color: #422;
}
div#transparent ul
{
    /*margin:0; padding: 0.35em 0 0 0;*/
    margin: 0 0 0 0;
    padding: 4px 0px 0px 0px;
}
div#transparent li
{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 0 1em;
    margin-bottom: 0.3em;
}
div#transparent .elementListyLeft
{
    float: left;
    width: auto;
}
div#transparent .elementListy
{
    float: left;
    border-left: #442222 solid thin;
    width: auto;
}
div#transparent .elementListyRight
{
    float: right;
    width: auto;
}
div#transparent .elementListy2
{
    float: right;
    border-right: #442222 solid thin;
    width: auto;
}
#footer
{
    background-color: #F5E4C6;
    border-top: thin solid #CCCCCC;
    padding-top: 5px;
    height: 20px;
    text-align: center;
    display: none;
    margin-top: 5px;    
}

#footer a:link {
    color: #442222;
    text-decoration: none;
}
#footer a:hover {
    color: #442222;
    text-decoration: underline;
}
#footer a:visited {
    color: #442222;
    text-decoration: none;
}

.LinkWithoutTextDecoration
{
    color: #443333;
    text-decoration: none;
}

header, footer, nav, section
{
    display: block;
}
.SearchHead
{
    background-color: #e3bb93;
    color: Black;
    vertical-align: middle;
    padding: 5px 0 5px 6px;
    margin-bottom: 3px;
}
.PanelHead
{
    background-color: #F6E6C6;
    color: Black;
    vertical-align: middle;
    padding: 2px 0 2px 6px;
    margin-top: 1px;
    cursor: pointer;
    white-space: nowrap;
}
.PanelHead:hover
{
    background-color: #F6EEDB;
}

.LastPanelHead
{
    background-color: #F6E6C6;
    color: Black;
    vertical-align: middle;
    padding: 2px 0 2px 6px;
    margin-top: 1px;    
    white-space: nowrap;
    margin-left: -3px;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */


#main
{
    padding-top: 5px;
    height: 100%;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
.elementWidth
{
    width: 205px;
}
.elementTextBoxWidth
{
    width: 200px;
}

.radioAlign
{
    text-align: center;
    vertical-align: middle;
}
.halfDivLeft
{
    float: left;
    width: 49.5%;
    vertical-align: top;
}
.halfDivRight
{
    float: right;
    width: 50%;
    vertical-align: top;
}
.halfDivLeft30
{
    float: left;
    width: 28.5%;
    vertical-align: top;
}
.halfDivRight70
{
    float: right;
    width: 70%;
    vertical-align: top;
}
/*Table*/
.tableStyle
{
    width: 100%;
}
.tableRow
{
    background-color: #F6E6C6; /*	 	border-bottom: solid 2px white; 	border-left: solid 2px white; 	border-right: solid 2px white; */
}
.tableAlternatingRow
{
    background-color: #F6EEDB; /* 	border-bottom: solid 2px white; 	border-left: solid 2px white; 	border-right: solid 2px white; */
}
.tableFirstTD
{
    width: 200px;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
}
.tableDetailsSecondTD
{
    width: 700;
}

/*Buttons*/
a.btn
{
    display: block;
    float: left;
    padding: 2px 8px 2px 2px;
    margin: 0 5px 0 0;
    width: auto;
    color: #333 !important;
    background: #c6c6c6 url(/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/images/btn.png) repeat-x 0 0;
    border: 1px solid #aaa;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
}
a.btn:hover
{
    color: #000;
    background-color: #e1e1e1;
    background-position: 0 -48px;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
}

.linkButton
{
    background-color: #E3BB93;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    padding: 1px 9px 1px 9px;
    text-decoration: none;
    color: Black;
}
.button
{
    background-color: #E3BB93;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    /*margin-bottom: 3px;*/
}
.btnSearch
{
    /*background-color: #E3BB93;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 13px;*/
    margin-bottom: 4px;
    width: 75px;
}
input.zoomIn
{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/images/zoomin.png');
    vertical-align: middle;
}
input.zoomOut
{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/images/zoomout.png');
    vertical-align: middle;
}
.btnClear
{
    /*background-color: #E3BB93;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 13px;*/
    margin-bottom: 4px;
    width: 84px;
}
.btnShowOnTheMap, .btnBibliography
{
    margin-bottom: 4px;
    width: 165px;    
}

input.add
{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/ico_plus.gif');
    vertical-align: middle;
}
input.delete
{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/ico_minus.gif');
    vertical-align: middle;
}
input.search
{
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Images/search.png');
    vertical-align: middle;
}
input.search:hover
{
    cursor: pointer;
    border: 1px solid white;
}
.w-215 { width: 215px; }
.w-210 { width: 210px; }
.w-162 { width: 162px; }
.w-150 { width: 150px; }
.w-157 { width: 157px; }
.w-113 { width: 113px; }
.w-40 { width: 40px; }
.w-50 { width: 48px; }
.widthAlign
{
    width: 100px;
}
.divPadding
{
    padding-bottom: 7px;
    min-width: 220px;
}
.divPaddingSecond
{
    padding-bottom: 2px;
    min-width: 220px;
}
.pointer
{
    cursor: pointer;
}
.error_page
{
    margin: auto;
    padding: 50px;
    width: 600px;
    text-align: center;
}
.center
{
    text-align: center;
}
.center .ui-jqgrid
{
    margin-left: auto;
    margin-right: auto;
}
.center table
{
    margin-left: auto;
    margin-right: auto;
}
.scroll
{
	overflow: auto;
	max-height: 100px;
}
.text-strong
{
    font-weight:bold;
}

/*login*/
.loginPanel
{
    background: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/LoginImages/loginBack.png') no-repeat scroll left top transparent;
    height: 315px;
    width: 315px;
    margin: 0 auto;
    position: relative;
    text-align: left;
}
.login LABEL
{
    color: White;
    font-size: 1em;
}
.loginButton
{
    background: url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/LoginImages/button.png') no-repeat center bottom;
    border: 1px solid #E0BA92;
    width: 97px;
    color:White;
    height: 25px;
    font-size: 8pt;
    font-weight: bold;
    padding: 1px;
}
.textboxLogin, .hoverLogin
{
    width: 250px;
    height: 17px;
    background: transparent url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/LoginImages/inputlogin.png') no-repeat top left;
    color: Black;
    border: none;
    padding: 5px;
    font-weight: bold;
    float: left;
    margin-bottom: 4px;
    margin-top: 2px;
}
.hoverLogin
{
    background: transparent url('/web/20201211195803im_/http://jaskiniepolski.pgi.gov.pl/Content/LoginImages/inputlogin.png') no-repeat bottom left;
}
.popupSearch 
{
    display: none; 
    min-width: 300px;
}
select.width150
{
    width: 167px;
}
#login a:link
{
    text-decoration:none;
    color: #442222;
}
#login a:visited
{
    color: #442222;
}
.tableHead
{
    padding: 3px 3px 3px 3px; font-weight:bold;
}
.textAreaBasic
{
    width:792px;
    height:200px;
}
.textMaxWidth
{
    width:760px;
}
.textMiddleWidth
{
    width:500px;
}
.divPaddingDetails
{
    padding: 0px 15px 0px 15px;
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" fa-"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;    
    /* Remove the jQuery UI Text Indent */
    text-indent: 0; 
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.45em;
    
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.ui-button-icon-only .ui-icon[class*=" fa-"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -7px;
}

.ui-button .ui-button-text
{         
   padding: 2px 7px 2px 25px !important;   
}

.smallBtn
{
    font-size: 0.6em;    
}

.smallBtn .ui-icon[class*=" fa-"]
{
    width: 8px;
    height: 8px;    
    margin-top: -0.4em;
    margin-left: -0.6em;
    -ms-transform: scale(1.9); /* IE 9 */
    -webkit-transform: scale(1.9); /* Chrome, Safari, Opera */
    transform: scale(1.9);    
}

.ui-jqgrid .ui-icon-asc.fa { height: auto; margin-top: 0; }
.ui-jqgrid .ui-icon-asc.fa, .ui-jqgrid .ui-icon-desc.fa { height: auto; margin-top: 2px; margin-left: 2px; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button .ui-pg-div span { margin: 0 2px; width: 1.4em; font-size: 14px; float: left; overflow: hidden; }

.btnPlus { margin-left: 3px; }
.btnMinus { margin-left: 0px; }

ul.contextMenu
{    
    padding: 1px;
    margin: 0px;
    width: 100px;
}

ul.contextMenu li
{
    padding: 3px;
    cursor: pointer;
}

ul.contextMenu li i
{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

ul.contextMenu li span
{
    margin-left: 1px;
}

a i[class*=" fa-"] {        
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);    
}

div.PanelHead i[class*=" fa-"] {        
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
    margin-right: 8px;
}﻿
/*
     FILE ARCHIVED ON ﻿19:58:03 Dec 11, 2020﻿ AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON ﻿10:30:53 Nov 06, 2024﻿.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
﻿playback timings (ms):
﻿  ﻿captures_list﻿: ﻿0.853﻿
﻿  ﻿exclusion.robots﻿: ﻿0.033﻿
﻿  ﻿exclusion.robots.policy﻿: ﻿0.015﻿
﻿  ﻿esindex﻿: ﻿0.019﻿
﻿  ﻿cdx.remote﻿: ﻿17.288﻿
﻿  ﻿LoadShardBlock﻿: ﻿229.659﻿ (﻿3﻿)
﻿  ﻿PetaboxLoader3.datanode﻿: ﻿156.568﻿ (﻿5﻿)
﻿  ﻿PetaboxLoader3.resolve﻿: ﻿346.752﻿ (﻿3﻿)
﻿  ﻿load_resource﻿: ﻿443.164﻿ (﻿2﻿)
﻿*/